* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'poppins', sans-serif;
}

body {
    background-color: rgb(18, 18, 62);
    color: white;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: rgb(23, 23, 79);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    position: relative;
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    cursor: default;
    opacity: 0;
    animation: slideRight 1s ease forwards;
}

.navbar a {
    display: inline-block;
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
    opacity: 0;
    animation: slideTop .5s ease forwards;
    animation-delay: calc(.2s*var(--i));
}

.navbar a:hover {
    color: #9c97f1;
}

.home {
    position: relative;
    width: 100%;
    justify-content: space-between;
    height: 100vh;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 70px 10% 0;
}

.home-content {
    max-width: 600px;
}

.home-content h3 {
    font-size: 32px;
    font-weight: 700;
    opacity: 0;
    animation: slideBottom 1s ease forwards;
}

.home-content h3:nth-of-type(2) {
    margin-bottom: 30px;
    animation: slideTop 1s ease forwards;
    animation-delay: .7s;
}

.home-content h3 span {
    color: #9c97f1;
}

.home-content h1 {
    font-size: 56px;
    font-weight: 700;
    margin: -3px 0;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: 1s;
}

.home-content p {
    font-size: 20px;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: 1s;
}

.home-sci a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #9c97f1;
    border-radius: 50%;
    font-size: 20px;
    color: #9c97f1;
    text-decoration: none;
    transition: .5s ease;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: calc(.2s*var(--i));
    margin: 30px 15px 30px 0;
}

.home-sci a:hover {
    background: #9c97f1;
    color: rgb(18, 18, 62);
    box-shadow: 0 0 20px #9c97f1;
}

.btn-box {
    display: inline-block;
    padding: 12px 28px;
    background: #9c97f1;
    border-radius: 40px;
    font-size: 16px;
    color: rgb(18, 18, 62);
    letter-spacing: 1px;
    font-weight: 600;
    text-decoration: none;
    font-weight: 600;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 2s;
    box-shadow: 0 0 5px #9c97f1, 0 0 25px #9c97f1
}

.btn-box:hover {
    box-shadow: 0 0 5px rgb(202, 168, 249), 0 0 25px rgb(202, 168, 249), 0 0 50px rgb(202, 168, 249), 0 0 100px rgb(202, 168, 249), 0 0 200px rgb(202, 168, 249);
}

.about {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 1.5rem;
}

.about-img img {
    width: 350px;
    height: 350px;
    border-radius: 50%;
    object-fit: cover;
    margin-left: 170px;
    box-shadow: 0 0 5px rgb(202, 168, 249), 0 0 15px rgb(202, 168, 249), 0 0 35px rgb(202, 168, 249), 0 0 45px rgb(202, 168, 249), 0 0 95px rgb(202, 168, 249);
}

.about-img img:hover {
    box-shadow: 0 0 5px rgb(202, 168, 249), 0 0 25px rgb(202, 168, 249), 0 0 50px rgb(202, 168, 249), 0 0 100px rgb(202, 168, 249), 0 0 200px rgb(202, 168, 249);
}

.about-text h2 {
    font-size: 60px;
}

.about-text h2 span {
    color: #9c97f1;
}

.about-text h4 {
    font-size: 29px;
    font-weight: 600;
    color: #fff;
    line-height: 1.7;
    margin: 15px 0 30px;
}

.about-text p {
    color: aliceblue;
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 4rem;
}

.sub-title {
    font-size: 60px;
    text-align: center;
    padding-top: 110px;
}

.sub-title span {
    color: #9c97f1;
}

section {
    display: flex;
    flex-wrap: wrap;
}

.container1 {
    width: 600px;
    height: 500px;
    padding: 75px 90px;
    margin-left: 120px;
}

.heading1 {
    text-align: center;
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-thickness: 5px;
    margin-bottom: 50px;
}

.bar {
    font-size: 23px;
}

.Technical-bars .bar {
    margin: 30px 0;
}

.Technical-bars .bar:first-child {
    margin-top: 0;
}

.Technical-bars .bar:last-child {
    margin-bottom: 2px;
}

.Technical-bars .bar .info span {
    font-size: 17px;
    font-weight: 500;
    animation: showText 0.5s 1s linear forwards;
    opacity: 0;
}

.Technical-bars .bar .progress-line {
    position: relative;
    border-radius: 10px;
    width: 100%;
    height: 5px;
    background-color: #000;
    animation: animate 1s cubic-bezier(1, 0, 0.5, 1) forwards;
    transform: scaleX(0);
    transform-origin: left;
}

@keyframes animate {
    100% {
        transform: scaleX(1);
    }
}

.Technical-bars .bar .progress-line span {
    height: 100%;
    background-color: #9c97f1;
    position: absolute;
    border-radius: 10px;
    animation: animate 1s 1s cubic-bezier(1, 0, 0.5, 1) forwards;
    transform: scaleX(0);
    transform-origin: left;
}

.progress-line.html span {
    width: 85%;
}

.progress-line.css span {
    width: 70%;
}

.progress-line.bootstrap span {
    width: 80%;
}

.progress-line.javaScript span {
    width: 65%;
}

.progress-line.react span {
    width: 60%;
}

.progress-line.Sql span {
    width: 65%;
}

.progress-line.Mongo span {
    width: 75%;
}

.progress-line span::after {
    position: absolute;
    padding: 1px 8px;
    background-color: #000;
    color: #fff;
    font-size: 12px;
    border-radius: 3px;
    top: -28px;
    right: -20px;
    animation: showText 0.5s 1.5s linear forwards;
    opacity: 0;
}

.progress-line.html span::after {
    content: "85%";
}

.progress-line.css span::after {
    content: "70%";
}

.progress-line.bootstrap span::after {
    content: "80%";
}

.progress-line.javaScript span::after {
    content: "65%";
}

.progress-line.react span::after {
    content: "60%";
}

.progress-line.Sql span::after {
    content: "65%";
}

.progress-line.Mongo span::after {
    content: "70%";
}

.progress-line span::before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border: 7px solid transparent;
    border-bottom-width: 0px;
    border-right-width: 0px;
    border-top-color: #000;
    top: -10px;
    right: 0;
    animation: showText 0.5s 1.5s linear forwards;
    opacity: 0;
}

@keyframes showText {
    100% {
        opacity: 1;
    }
}

.radical-bars {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
}

.radical-bars .radical-bar {
    width: 50%;
    height: 170px;
    margin-bottom: 10px;
    position: relative;
}

.radical-bars .radical-bar svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-90deg);
    width: 120px;
    height: 160px;
}

.radical-bars .radical-bar .progress-bar {
    stroke-width: 10;
    stop-color: black;
    fill: transparent;
    stroke-dasharray: 502;
    stroke-dashoffset: 502;
    stroke-linecap: round;
    animation: animate-bar 1s linear forwards;
}

@keyframes animate-bar {
    100% {
        stroke-dashoffset: -1;
    }
}

.path {
    stroke-width: 10;
    stroke: #9c97f1;
    fill: transparent;
    stroke-dasharray: 502;
    stroke-dashoffset: 502;
    stroke-linecap: round;
}

.path-1 {
    animation: animate-path1 1s 1s linear forwards;
}

.path-2 {
    animation: animate-path2 1s 1s linear forwards;
}

.path-3 {
    animation: animate-path3 1s 1s linear forwards;
}

.path-4 {
    animation: animate-path4 1s 1s linear forwards;
}

@keyframes animate-path1 {
    100% {
        stroke-dashoffset: 50;
    }
}

@keyframes animate-path2 {
    100% {
        stroke-dashoffset: 175;
    }
}

@keyframes animate-path3 {
    100% {
        stroke-dashoffset: 125;
    }
}

@keyframes animate-path4 {
    100% {
        stroke-dashoffset: 75;
    }
}

.radical-bar .percentage {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 17px;
    font-weight: 500;
    animation: showText 0.5s 1s linear forwards;
    opacity: 0;
}

.radical-bar .text {
    width: 100%;
    position: absolute;
    text-align: center;
    left: 50%;
    bottom: -5px;
    transform: translateX(-50%);
    font-size: 17px;
    font-weight: 500;
    animation: showText 0.5s 1s linear forwards;
    opacity: 0;
}

.main-text {
    padding-top: 130px;
    margin-top: 200px;
}

.main-text h2 {
    font-size: 60px;
    line-height: 1;
    text-align: center;
    padding-bottom: 80px;
}

.main-text h2 span {
    color: #9c97f1;
}

.portfolio-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin-top: 40px;
    padding: 0 50px;
}

.row {
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    cursor: pointer;
    width: 100%;
    height: 280px;
}

.row img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
    display: block;
    transition: transform 0.5s;
}

.layer {
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.1), #9c97f1);
    position: absolute;
    border-radius: 8px;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 40px;
    transition: height 0.5s;
}

.layer h5 {
    color: #000;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 15px;
}

.layer p {
    color: #000;
    font-size: 1rem;
    line-height: 1.8;
}

.layer i {
    color: #ff004f;
    margin-top: 20px;
    font-size: 20px;
    background: #fff;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.row:hover img {
    transform: scale(1.1);
}

.row:hover .layer {
    height: 100%;
}




.contact {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: start;
    gap: 3rem;
    padding: 50px 30px;
    margin-top: 100px;
    padding-left: 80px;
}

.contact-text {
    text-align: left;
}

.contact-text h2 {
    font-size: 70px;
    line-height: 1.2;
    margin-bottom: 15px;
}

.contact-text h2 span {
    color: #9c97f1;
}

.contact-text h4 {
    margin: 10px 0 20px;
    color: rgb(202, 168, 249);
    font-size: 22px;
    font-weight: 600;
}

.contact-text p {
    color: rgb(177, 177, 177);
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 2rem;
}

.contact-list {
    list-style: none;
    padding: 0;
    margin-bottom: 2rem;
}

.contact-list li {
    margin-bottom: 12px;
}

.contact-list a {
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    color: aliceblue;
    transition: 0.3s ease;
}

.contact-list a:hover {
    transform: translateX(5px);
    color: #9c97f1;
}

.contact-list i {
    color: #9c97f1;
    font-size: 20px;
}

.contact-icons {
    margin-top: 20px;
}

.contact-icons a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    background: transparent;
    border: 2px solid #9c97f1;
    border-radius: 50%;
    font-size: 20px;
    color: #9c97f1;
    margin-right: 15px;
    transition: 0.3s ease;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: calc(.2s*var(--i));
}

.contact-icons a:hover {
    background: #9c97f1;
    color: #000;
    box-shadow: 0 0 15px #9c97f1;
}

.contact-form form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.contact-form input,
.contact-form textarea {
    border: none;
    outline: none;
    width: 100%;
    padding: 15px;
    background: #555557;
    color: #fff;
    font-size: 1rem;
    border-radius: 8px;
}

.contact-form textarea {
    resize: none;
    height: 200px;
}

.contact-form .send {
    align-self: flex-start;
    padding: 12px 30px;
    background: #9c97f1;
    border-radius: 40px;
    font-size: 16px;
    color: #12286d;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s ease;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 2s;
    box-shadow: 0 0 5px #9c97f1, 0 0 25px #9c97f1;
}

.contact-form .send:hover {
    box-shadow: 0 0 10px rgb(202, 168, 249), 0 0 25px rgb(202, 168, 249), 0 0 50px rgb(202, 168, 249);
}

.last-text {
    width: 100%;
    background: rgb(7, 85, 91);
    padding: 20px 0;
    margin: 0;
}

.last-text p {
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    margin: 0;
}

.top {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    background: #9c97f1;
    padding: 12px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s ease;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.top i {
    color: #000;
    font-size: 22px;
}

.top:hover {
    transform: translateY(-5px);
    background: rgb(202, 168, 249);
    box-shadow: 0 0 20px #9c97f1;
}

html {
    scroll-behavior: smooth;
}

@keyframes slideLeft {
    from {
        transform: translateX(100px);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideTop {
    from {
        transform: translateY(50px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@media (max-width: 900px) {
    .contact {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .contact-text {
        text-align: center;
    }

    .contact-form .send {
        align-self: center;
    }
}

@keyframes slideRight {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes slideLeft {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes slideTop {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes slideBottom {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

@media (max-width: 1024px) {
  .header {
    padding: 15px 5%;
  }

  .navbar a {
    font-size: 20px;
    margin-left: 20px;
  }

  .home-content h1 {
    font-size: 45px;
  }

  .about-text h2 {
    font-size: 45px;
  }

  .sub-title {
    font-size: 45px;
  }
}


@media (max-width: 900px) {
  .home {
    flex-direction: column;
    text-align: center;
    padding: 120px 5% 50px;
  }

  .home-content h1 {
    font-size: 40px;
  }

  .home-content h3 {
    font-size: 24px;
  }

  .about {
    grid-template-columns: 1fr;
    text-align: center;
    padding: 50px 20px;
  }

  .about-img img {
    margin-left: 0;
    margin-bottom: 20px;
    width: 250px;
    height: 250px;
  }

  .about-text h2 {
    font-size: 40px;
  }

  .about-text h4 {
    font-size: 22px;
  }

  .about-text p {
    font-size: 16px;
  }
}


@media (max-width: 768px) {
  .navbar a {
    font-size: 18px;
    margin-left: 15px;
  }

  .home-content h1 {
    font-size: 36px;
  }

  .home-content h3 {
    font-size: 20px;
  }

  .home-content p {
    font-size: 16px;
  }

  .btn-box {
    font-size: 14px;
    padding: 10px 20px;
  }

  .container1 {
    width: 100%;
    margin-left: 0;
    padding: 40px 20px;
  }

  .bar {
    font-size: 18px;
  }

  .portfolio-content {
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 0 20px;
  }

  .contact {
    grid-template-columns: 1fr;
    padding: 30px 20px;
  }

  .contact-text h2 {
    font-size: 40px;
  }

  .contact-text h4 {
    font-size: 18px;
  }

  .contact-text p {
    font-size: 16px;
  }
}


@media (max-width: 480px) {
  .header {
    padding: 10px 20px;
  }

  .logo {
    font-size: 20px;
  }

  .navbar a {
    font-size: 16px;
    margin-left: 10px;
  }

  .home-content h1 {
    font-size: 28px;
  }

  .home-content h3 {
    font-size: 18px;
  }

  .home-content p {
    font-size: 14px;
  }

  .about-text h2 {
    font-size: 30px;
  }

  .about-text h4 {
    font-size: 18px;
  }

  .about-text p {
    font-size: 14px;
  }

  .portfolio-content {
    grid-template-columns: 1fr;
    gap: 15px;
    padding: 0 15px;
  }

  .contact-text h2 {
    font-size: 28px;
  }

  .contact-text p {
    font-size: 14px;
  }

  .last-text p {
    font-size: 14px;
  }

  .top {
    bottom: 1rem;
    right: 1rem;
    padding: 8px;
  }

  .top i {
    font-size: 16px;
  }
}
